<% include partials/header %>
<div class="container">
    <div class="jumbotron">
    <h1>Hello everyone </h1>
    <button type="button" class="btn btn-secondary"><a  href="/">go to the home page</a></button>

    </div>
<figure class="figure">
  <img src="/images/img4.jpeg" class="rounded mx-auto d-block img-fluid" alt="mahmoud hassan hamed ">
  <figcaption class="figure-caption">created by / Mahmoud hassan hamed .2018</figcaption>
</figure>
</div>







<% include partials/footer %>
