<% include partials/header %>
<div class="container">
    <div class="jumbotron">
    <h1>Hello everyone </h1>
    

    
    
    
    <button type="button" class="btn btn-secondary"><a  href="/" >go to the home page</a></button>

    </div>
</div>







<% include partials/footer %>
