<% include partials/header

  <body style="background-color: black">
    <div class="page1"
      <div class="row mainclass">
      		<div class="col-lg-6 col-xs-12  img ">
      		</div>
        			<div class=" col-lg-6 col-xs-12  rightSide-header" >
      	  			<h1>Momuzio</h1>
                <h5>Web developer & designer </h5>
      	  			<div class="socialmedia">
      	  				<a href="https://www.instagram.com/hesham_alamam/"><i class="fab fa-instagram"></i></a> 
      	  			  	<a href="https://www.facebook.com/mahmoudhassan993"><i class="fab fa-facebook"></i></a>
      	  				<a href="https://www.linkedin.com/in/mahmoud-hassan-okily-3ab3a7b6/"><i class="fab fa-linkedin -square"></i></a> 
      	  				<a href="https://github.com/heshamalamam73"><i class="fab fa-github"></i></a> 
      	  			</div>
                <h3>Mahmoud hassan hamed</h3>
        			</div>
          </div>
      </div>
      <div class="para">
          <div class="row">
                <div class="col-lg-4">
                  <div class=" p1">
                      <p class="">I enjoy building complex web applications,I also enjoy getting involved with smaller side projects.</p>
                      <button type="button" class="btn"> View my work </button>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="p3">
                    <p class="">You can also find me on Twitter, LinkedIn, facebook and Instagram.</p>
                    <button type="button" class="btn "> Contact </button>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class=" p2" >
                    <p class="">Browse some of my work, view my skills, or get in touch.</p>
                    <button type="button" id="skilsbtn" class="btn">Explore my skills </button>
                  </div>
                </div>
            </div>
        </div>
        <div class="container skills">
              <div class="row content">
                  <div class="col-lg-3"> 
                    <h5>LANGUAGES</h5>
                    <ul>
                      <li>HTML5</li>
                      <li>CSS3</li>
                      <li>JAVASCRIPT</li>
                      <li>RUBY</li>
                      <li>Python</li>
                    </ul>
                  </div>
                  <div class="col-lg-3">
                   <h5>METHODS & TOOLS</h5>
                    <ul>
                      <li>D3</li>
                      <li>SVG</li>
                      <li>ES6</li>
                      <li>ES2015,2016,2017</li>
                    </ul>
                  </div>
                  <div class="col-lg-3">
                   <h5>FRAMEWORKS & LIBS</h5>
                    <ul>
                      <li>Node js</li>
                      <li>jQuery</li>
                      <li>Express.js</li>
                      <li>React.js</li>
                      <li>Bootstrap</li>
                      <li>Testing with jasmine</li>
                    </ul>
                  </div>
                  <div class="col-lg-3">
                   <h5>Other</h5>
                    <ul>
                      <li>Git and github</li>
                      <li>Photoshop</li>
                      <li>jAVASCRIPT</li>
                      <li>Command line </li>
                      <li>Databases</li>
                      <li>Heroku</li>
                    </ul>
                  </div>
              </div> 
            </div>
          </div>
        </div>
 
<% include partials/footer %>