<% include partials/header%>
<div class ="container">
<div class="content">
    <h1>اهلا بكم في موموذيو </h1>
    <p>عن طريق موموذيو تستطيع اضا
    فة فرص عمل او البحث عن فرص عمل متاحة كما يمكنكم اضافوة منتجاتكم التحارية او العقارية بغرض البيع او الايجار </p>
    
    <h3>يمكنكم الاتصال بنا عن طريق احدى الوسائل الاتيه </h3>
    
    
</div>


</div>

<% include partials/footer %>