 <% include partials/header %>

 
 
 
 <div class="container">
            <div class="jumbotron">
                <h1><i class="fas fa-camera-retro"></i> Momuzio gallery</h1>
                <p>Soon .. You can add your wonderful pictures here!!!! </p>
                <button type="button" class="btn btn-secondary"><a  href="/">go to the home page</a></button>

            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail"> 
                <a href="/images/img1.jpeg" data-lightbox="momuzio" data-title="momuzio"><img src="/images/img1.jpeg" alt=""></a>
                    </div>
                </div>
                   <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail"> 
                <a href="/images/img1.jpeg" data-lightbox="momuzio" data-title="momuzio"><img src="/images/img1.jpeg" alt=""></a>
                    </div>
                </div>
                   <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail"> 
                <a href="/images/img1.jpeg" data-lightbox="momuzio" data-title="momuzio"><img src="/images/img1.jpeg" alt=""></a>
                    </div>
                </div>
                   <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail"> 
                <a href="/images/img1.jpeg" data-lightbox="momuzio" data-title="momuzio"><img src="/images/img1.jpeg" alt=""></a>
                    </div>
                </div>
                   <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail"> 
                <a href="/images/img1.jpeg" data-lightbox="momuzio" data-title="momuzio"><img src="/images/img1.jpeg" alt=""></a>
                    </div>
                </div>
                   <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail"> 
                <a href="/images/img1.jpeg" data-lightbox="momuzio" data-title="momuzio"><img src="/images/img1.jpeg" alt=""></a>
                    </div>
                </div>
                   <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail"> 
                <a href="/images/img1.jpeg" data-lightbox="momuzio" data-title="momuzio"><img src="/images/img1.jpeg" alt=""></a>
                    </div>
                </div>
                   <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail"> 
                <a href="/images/img1.jpeg" data-lightbox="momuzio" data-title="momuzio"><img src="/images/img1.jpeg" alt=""></a>
                    </div>
                </div>
                   <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail"> 
                <a href="/images/img1.jpeg" data-lightbox="momuzio" data-title="momuzio"><img src="/images/img1.jpeg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        
        <% include partials/footer %>
