<% include partials/header %>


<div class="container">
    <div class="jumbotron">
    <h1>اهلا بكم في عالم مومزيو للاعمال والوظائف </h1>
    <p>يمكنكم من خلال هذه الصفحة اضافة الوظائف او فرص العمل المتاحه لديكم كما يمكنكم البحث عن فرص العمل والوظاءف المتاحه </p>
    <a class="btn btn-danger"  href="/">رجوع</a>
    </div>
   
    
    <div class ="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
         <a href="/jobs/showjobs" class="btn btn-success"><h1>بحث عن عمل </h1> </a>

            
            
            
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <a href="/jobs/newjob" class="btn btn-success"><h1>أضافة فرصة عمل  </h1></a>
            
            
            
        </div>
        
        
        
        
        
        
            </div>

    </div>
    
    
    
    
    
    
    
    
</div>








<% include partials/footer %>