<% include partials/header %>
        <div class="col-lg-2 navbar-left navbar-inverse rightbar">
              <ul class="list-group">
                <li class="list-group-item black">Main menu</li>
                <a class="list-group-item" href="#">WORK AND SERVICES</a>
                <a class="list-group-item" href="#">Educational site</a>
                <a class="list-group-item" href="#">Entertainment site</a>
                <a class="list-group-item" href="#">Commercial site</a>
              </ul>
        </div>
    <div class="container">
      <div class="landing-header">
        <h1>Welcome to momuzio</h1>
        <a href="/gallery" class="btn btn-lg btn-success">Gallery</a>
      </div>
    <div>
            <ul class="slideshow">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
    </div>


<% include partials/footer %>