<% include partials/header %>
        <div class="col-lg-2 navbar-left navbar-inverse rightbar">
              <ul class="list-group">
                <li class="list-group-item black">Main menu</li>
                <a class="list-group-item" href="/jobs">WORK AND SERVICES</a>
                <a class="list-group-item" href="/courses">Educational site</a>
                <a class="list-group-item" href="/Entertainment">Entertainment site</a>
                <a class="list-group-item" href="/commercial">Commercial site</a>
              </ul>
              
          <div id="footer">
            <p>All rights belong to the owner of Page</p>
            <a href="/about"><h5>Mahmoud hassan hamed</h5></a> 
               <div class="social">
                 <a href="https://www.facebook.com/mahmoudhassan993"><i class="fab fa-facebook-square"></i></a>
                 <a href="#"><i class="fas fa-envelope"></i></a>
                 <a href="#"><i class="fab fa-instagram"></i></a>
                 <a href="#"><i class="fab fa-twitter"></i></a>
                 <a href="#"><i class="fab fa-youtube"></i></a>
              </div>
              <p>copyright <i class="fas fa-copyright"></i> Momuzio 2018   </p>  
          </div>
        </div>
    <div class="container">
      <div class="landing-header">
        <h1>Welcome to momuzio</h1>
        <a href="/gallery" class="btn btn-lg btn-success">Gallery</a>
      </div>
    <div>
            <ul class="slideshow">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
    </div>


<% include partials/footer %>