<% include partials/header %>

    <div class="container">
      <div class="landing-header">
        <h1>Welcome to momuzio</h1>
        <a href="/gallery" class="btn btn-lg btn-success">Gallery</a>
      </div>
    <div>
            <ul class="slideshow">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
    </div>


<% include partials/footer %>