<% include partials/header %>
  <div class="container">
    <div class="jumbotron">
        <h1> Creat new post </h1>
          <a class="btn btn-danger"  href="/">Home page<a>
        <a class="btn btn-warning"  href="/store">Back<a>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <form  action="/store" method="post">
          <label for="exampleFormControlTextarea1">post title </label>
          <input type="text" name="title" > <hr> <br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">info </label>
            <textarea name="info" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <label for="exampleFormControlTextarea1">image url </label>
          <input type="text" name="image" ><hr> <br>
          <button class="btn btn-success" type="submit" >add</button>
        </form>
      </div>
    </div>










</div>
<% include partials/footer %>
