<% include partials/header %>
<form>
    <div class="container">
        <div class="jumbotron">
            <h1> نموذج اضافة فرصة عمل </h1>
            <button type="button" class="btn btn-secondary"><a  href="/">الصفحة الرئيسية</a></button>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                  <input type="text" name="" placeholder="اسم الوظيفة">
                  <br> <br>
                  <input type="text" name="" placeholder="المحافظة">
                  <br> <br>
                  <input type="text" name="" placeholder=" عنوان االوظيفة بالتفصيل  ">
                  <br> <br>
                  <input type="text" name="" placeholder=" اسم الشركة او المؤسسة  ">
                  <br> <br>
                  <div class="form-group">
                        <label for="exampleFormControlTextarea1">وصف العمل او الوظيفة</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                     </div>
                  <div class="form-group">
                        <label for="exampleFormControlTextarea1">االمؤهلات والخبرة المطلوبة </label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                     </div>
                     <hr>
                     <h3>معلومات الاتصال والتواصل </h3>
                        <br> 
                        <input type="text" name="" placeholder="رقم التليفون ">
                        <br> <br>
                        <input type="text" name="" placeholder="الايميل ">
                         <br> <br>
                  <input class="btn btn-primary" type="submit" value="اضافة">


                                       



                 
                                      

 

        
        
        
        
        
          

              </div>
           </div>
        </div>
    </div>

</form>



















<% include partials/footer %>
