<% include partials/header %>
       <div class="loginbox">
           <img src="/images/icon.png" class="icon">
               <h1>Sign up </h1>
               <form class="" action="/register" method="POST">
           <!-- <input type="text" name="" placeholder="Full name"  > -->
           <input type="text" name="username" placeholder="User name"  >
           <!-- <input type="text" name="" placeholder="Email"  > -->
           <!-- <input type="text" name="" placeholder="Phone number"  > -->
           <input type="password" name="password" placeholder="password">
           <input type="submit" value="sign in" name=""  > <br>
           <!-- <a href="#" >Have un account ? </a> <br> -->
        </form>
       </div>
   <script src="javascript.js" ></script>
<% include partials/footer %>
