 <% include partials/header %>

        <div class="loginbox">
            <img src="/images/icon.png" class="icon">
                <h1>Sign in </h1>
            <form>
              
            <input type="text" name="" placeholder="Full name"  >
            <input type="text" name="" placeholder="User name"  >
            <input type="text" name="" placeholder="Email"  >
            <input type="text" name="" placeholder="Phone number"  >
            <input type="password" value="" placeholder="password">
            <input type="submit" value="sign in" name=""  > <br>
                <a href="#" >Have un account ? </a> <br>
            </form>
        </div>
    <script src="javascript.js" ></script>
<% include partials/footer %>
