.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}
.bg{
    width: 100%;
  height: auto;


}
.col-lg-4 img{
    min-height: auto;
}

/* login page style */

.icon{
    border-radius: 50%;
    opacity: 0.9;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.loginbox{
    width: 320px;
    height: 550px;
    top: 70%;
    left: 50%;
    background-color: blue;
    position: absolute;
    transform: translate(-50%,-50%); // لتوسيط العنصر في وسط الصفحة
    box-sizing: border-box;
    color: azure;
   padding: 70px 30px;
    border-radius: 40px;
    opacity: .8;
}
h1{
    margin: 0;
    padding: 0 30px;
    font-size: 22px;
    text-align: center;
}
.loginbox p{
    margin: 0;
    font-weight: bold;
    padding: 0;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"],input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color:#bcbdbd;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    color:blue;
}
.loginbox input[type="submit"]:hover{
    background-color: blue;
    color: white;
    background: #337ab7;
}
.loginbox a {
    color: chocolate;
    line-height: 30px;
    text-decoration: none;
    font-family: sans-serif;
}
.loginbox a:hover{
    color: coral;
}
body{
  background-image: url("/images/img1.jpeg");
}
.meta{

  text-align: left;
  padding: 20px;
}
.buttons{
  display: inline-flex;
  padding: 20px;

}
.caption {
  font-family: 'Slabo 27px', serif;
}
#pComment{
  font-size: 14px;

}
.thumbnail{
  width: 70%;
  margin: auto;
}
.well h3{
  text-align: center;

}

