.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}
.bg{
    width: 100%;
  height: auto;
    
    
}
.col-lg-4 img{
    
    min-height: 480px;
}


