
.navbar-inverse {
    background: #2c3e50;
     z-index: 1;
}

.navbar-inverse .navbar-nav > li > a {
    color:rgba(0, 0, 0, 0.95);
  }

.rightbar{
    margin-top: -20px;
    opacity: .7;
    height: 100vh;
}
.rightbar ul li {
    background-color: #f4f4f4;
    color: white;
    font-style: italic;
}
.rightbar ul a {
    font-size: 15px;
}
.rightbar ul a:hover{
    background-color: black;
    color: white;
}
#footer{
    font-size: 11px;
    z-index: 1;
    opacity: 1;
    color: white;
    margin-top: 50vh;
}
.social i{
font-size: 28px;
padding: 8px;
}
.social a{
    color: white;
    font-size: 20px;
}
.black{
    background-color: #222222;
}
@media (max-width:600px ){
    navbar-inverse{
    width:100%;
    margin:0;
    padding:0;
    max-width:100%;
    }
}